#app {
  padding: 5px;
}

#users {
  display: flex; // 昔は-webkit-box
  flex-wrap: wrap; // 昔は-webkit-flex
  width: 320px;
  margin: 0 auto;
}

.user {
  margin: 5px;
  padding: 5px;
  width: 140px;
  &.selected {
    background: #EEE;
  }
  .progress.revive-animation {
      border: 1px solid rgba(255, 0, 0, 0);
      animation: flashing 0.7s ease-out;
  }
}

@keyframes flashing {
  0% {
    border-color: rgba(255, 0, 0, 1)
  }
  100% {
    border-color: rgba(255, 0, 0, 0)
  }
}
